@mixin fontFamily($name, $fileName, $weight, $sytle) {
  @font-face {
    font-family: $name;
    src: url("fonts/#{$fileName}.ttf") format("truetype");
    font-weight: $weight;
    font-style: $sytle;
    font-display: swap;
  }
}

$karla: "karla";
$karla-family-file: "Karla-VariableFont_wght";
$karla-italic-family-file: "Karla-Italic-VariableFont_wght";
@include fontFamily($karla, $karla-family-file, 400, normal);
@include fontFamily($karla, $karla-family-file, 500, normal);
@include fontFamily($karla, $karla-family-file, 600, normal);
@include fontFamily($karla, $karla-family-file, 700, normal);
@include fontFamily($karla, $karla-family-file, 800, normal);
@include fontFamily($karla, $karla-family-file, 900, normal);
@include fontFamily($karla, $karla-italic-family-file, 400, italic);
@include fontFamily($karla, $karla-italic-family-file, 500, italic);
@include fontFamily($karla, $karla-italic-family-file, 600, italic);
@include fontFamily($karla, $karla-italic-family-file, 700, italic);
@include fontFamily($karla, $karla-italic-family-file, 800, italic);
@include fontFamily($karla, $karla-italic-family-file, 900, italic);
