<form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <h1>Contact Us</h1>
  <app-form-field inputId="name">
    <field-label>First Name *</field-label>
    <input
      type="text"
      name="name"
      id="name"
      formControlName="name"
      [attr.aria-invalid]="
        contactForm.get('name')?.invalid && contactForm.get('name')?.touched
      "
    />
    @if (this.contactForm.hasError('required', 'name') &&
    this.contactForm.get('name')?.touched) {
    <field-error>This field is required</field-error>
    }
  </app-form-field>
  <app-form-field inputId="lastName">
    <field-label>Last Name *</field-label>
    <input
      type="text"
      name="lastName"
      id="lastName"
      formControlName="lastName"
      [attr.aria-invalid]="
        contactForm.get('lastName')?.invalid &&
        contactForm.get('lastName')?.touched
      "
    />
    @if (this.contactForm.hasError('required', 'lastName') &&
    this.contactForm.get('lastName')?.touched) {
    <field-error>This field is required</field-error>

    }
  </app-form-field>
  <app-form-field inputId="email">
    <field-label>Email *</field-label>
    <input
      type="email"
      name="email"
      id="email"
      formControlName="email"
      [attr.aria-invalid]="
        contactForm.get('email')?.invalid && contactForm.get('email')?.touched
      "
    />
    @if (this.contactForm.hasError('required', 'email') &&
    this.contactForm.get('email')?.touched) {
    <field-error>This field is required</field-error>
    } @if (this.contactForm.hasError('email', 'email') &&
    this.contactForm.get('email')?.touched) {
    <field-error>Please enter a valid email</field-error>
    }
  </app-form-field>
  <app-form-field-radio-group>
    <radio-group-label>Query Type *</radio-group-label>
    <app-form-field-radio
      inputId="generalEnquiry"
      value="1"
      name="queryType"
      formControlName="queryType"
    >
      General Enquiry
    </app-form-field-radio>
    <app-form-field-radio
      inputId="supportRequest"
      value="2"
      name="queryType"
      formControlName="queryType"
    >
      Support Request
    </app-form-field-radio>
    @if(this.contactForm.get('queryType')?.touched &&
    this.contactForm.hasError('required', 'queryType')) {
    <field-error>This field is required</field-error>
    }
  </app-form-field-radio-group>
  <app-form-field inputId="message">
    <field-label>Message *</field-label>
    <textarea
      name="message"
      id="message"
      formControlName="message"
      [attr.aria-invalid]="
        contactForm.get('message')?.invalid &&
        contactForm.get('message')?.touched
      "
    ></textarea>
    @if (this.contactForm.hasError('required', 'message') &&
    this.contactForm.get('message')?.touched) {
    <field-error>This field is required</field-error>
    }
  </app-form-field>
  <app-form-field-checkbox
    inputId="termsAndConditions"
    formControlName="termsAndConditions"
    name="termsAndConditions"
  >
    I consent to being contacted by the team *
    @if(this.contactForm.hasError('required', 'termsAndConditions') &&
    this.contactForm.get('termsAndConditions')?.touched) {
    <field-error
      >To submit this form, please consent to being contacted</field-error
    >
    }
  </app-form-field-checkbox>
  <button type="submit">Submit</button>
</form>
<app-footer />
